body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --global-background-color: #ed9b58;
  --global-white-color: #f2e4ce;
  --global-dark-color: #542e43;
  --global-yellow-color: #f4ffad;
  --global-green-color: #83ebba;
  --global-blue-color: #8caeff;
}

/* color palette {
  blue #8CAEFF;
  green #83EBBA;
  yellow #F4FFAD;
  white #F2E4CE;
  red #FF8692;
  dark #542E43

} */
