.map-container {
  padding: 0 0 0 0;
  text-align: center;
  width: 100%;
  height: auto;
}

.map {
  height: 100%;
  width: 100%;
  position: fixed;
}

@media (max-width: 600px) {
  .map-container {
    height: 100%;
  }
}
