* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  font-family: "American typewriter";
}

.App-header {
  /* max-width: 80%; */
  min-width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links {
  background-color: #282c34;
  height: 10vh;
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.App-header p {
  align-self: center;
  text-align: center;
}

.btns-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.reveal-btn {
  height: 10em;
  width: 10em;
  margin: 2em;
  border-radius: 5px;
  box-shadow: 3px 4px 18px 2px rgba(150, 135, 150, 1);
  border: 0;
  font-size: 20px;
}

.screenshot-container {
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  height: 1366px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
}

.toggle-light-btn {
  height: auto;
  width: 1em;
}

.nav-btn {
  height: auto;
  width: 2.2em;
}

@media (max-width: 700px) {
}
