:root {
  --glow-animation: glow 3s ease infinite;
  --move-offset: move-offset 5s infinite linear;
}

@keyframes glow {
  50% {
    transform: scale(1.4);
  }
}

@keyframes move-offset {
  50% {
    stroke-dashoffset: 60;
  }
  100% {
    stroke-dashoffset: -20;
  }
}
